 <div class="user-details">
  <h1> Our Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>
      <p>项目设计</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-django-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain"></i>
      <p>项目实现</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-pytorch-plain-wordmark colored"></i>
      <i class="devicon-tensorflow-original-wordmark colored"></i>
      <p>项目工具</p>
    </div>
</div>
