<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="bert" src="{{ "/assets/img/bert.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> BERT Classifier </h3>
    <ul>
      <li> BERT文本分类 </li>
    </ul>
    <p>基于PyTorch的BERT中文文本分类模型，利用了transformers中的BertModel，对部分THUCNews数据集进行了文本分类，在验证集上的最优Acc达到了88%。</p>
    <a class="project-link" href="https://github.com/illiterate/BertClassifier">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="lstm" src="{{ "/assets/img/lstm.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> LSTM Classifier </h3>
    <ul>
      <li> LSTM文本分类 </li>
    </ul>
    <p>基于PyTorch的LSTM中文文本分类模型，在部分THUCNews数据集上达到了80%的准确率。</p>
    <a class="project-link" href="https://illiterate.top/articles/LSTMClassifier/">Check it out</a>
  </div>
</div>
